

/**********************BODY*****************************/
html{
    font-family: 'Droid Sans', sans-serif;
    background-size: cover;
    background-color: white;
}
body{
    margin: 0;
    min-height: 100%;
    max-width: 100%;
    /*margin-top: 10px;*/
    /*margin-bottom: 10px;*/
}
/*.container{
    margin: 0px, 10px, 0px, 10px;
}*/
/******************NAVIGATION BAR***********************/
nav{
    height: 40px;
    display: block;
    background-color: white;
    margin-right: 40px;
}
nav ul{
    background-color: white;
    list-style-type: none;
    /*padding: 0;*/
    /*margin: 8px;*/
    padding-top: 5px;
}
nav ul li{
    font-size: 0.8em;
    display: inline;
    line-height: 20px;
    height: 30px;
}
nav ul li a{
    /*text-align: center;*/
    text-decoration: none;
    /*display: block;*/
    padding: 14px 16px;
}

.nav-left{
    float: left;
    cursor: pointer;
}

.nav-left img {
    width: auto;
    height: 70px;
    margin: 0;
}

.nav-right{
    float: right;
}
/***********************SEARCH BAR***************************/
#search-box[type=text] {
    margin-top: 2px;
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 1px;
    font-size: 14px;
    background-color: white;
    background-image: url('/static/images/search-icon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 9px 20px 9px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

#search-box[type=text]:focus {
    width: 100%;
}
/*************************ON/OFF TOGGLE************************/
.onoffswitch {
    top: 10px;
    left: 5px;
    position: relative;
    width: 142px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 50px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 15px; padding: 0; line-height: 15px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Show Stations";
    padding-left: 9px;
    background-color: #36EBAC; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "Hide Stations";
    padding-right: 9px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 23px; margin: -4px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 123px;
    border: 2px solid #999999; border-radius: 50px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}
/*****************************GOOGLE MAP***********************/
#map-div{
    margin-top: 40px;
    display: block;
    height: 500px;
    width: 100%;
}

/*****************************MAP LEGEND***********************/

#legend {
        font-family: Arial, sans-serif;
        background: #fff;
        padding: 10px;
        margin: 10px;
        border: 1px solid #000;
      }
#legend h3 {
margin-top: 0;
}
#legend img {
vertical-align: middle;
}

#chartInfo{
    margin: 10px;

}

#weatherInfo img {
    margin: 10px;
}

/****************************Images*********************/
#logo{
    height: 20;
    width: 20;
}

/*************************Drop-down Menu*********************/
#dropdown-list{
    overflow: auto;
    max-height: 250px;
    height: 250px;
}

.dropdown {
    position: relative;
    display: inline-block;
    height: 100px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
/**************************GOOGLE CHARTS*************************************/
#chart-wrapper{
    text-align: center;
    width: 100%;
    margin: 0px;
    height: 400px;
}
#chart-div1{
    z-index: 0;
    float: left;
    width: 50%;
    height: 100%;
}
#chart-div2{
    z-index: 0;
    display: inline-block;
    width: 50%;
    height: 100%;

}
#chart-nav-div{
    z-index: 1;
    margin-bottom: 10px;
}

#chart-dropdown-content{
    z-index: 1;
    text-align: left;
    display: inline;
    margin: 0;
    padding: 15px 4px 17px 0;
    list-style: none;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
#chart-dropdown-content li {
    z-index: 1;
    font: bold 12px/18px sans-serif;
    display: inline-block;
    margin-right: -4px;
    position: relative;
    padding: 15px 20px;
    background: #fff;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
#chart-dropdown-content li:hover {
    z-index: 1;
  background: #555;
  color: #fff;
}
#chart-dropdown-content li ul {
    z-index: 1;
    padding: 0;
    position: absolute;
    top: 48px;
    left: 0;
    width: 150px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    display: none;
    opacity: 0;
    visibility: hidden;
    -webkit-transiton: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -transition: opacity 0.2s;
}
#chart-dropdown-content li ul li {
    z-index: 1;
    background: #555;
    display: block;
    color: #fff;
    text-shadow: 0 -1px 0 #000;
}
#chart-dropdown-content li ul li:hover {
    background: #666;
    z-index: 1;
}

#chart-dropdown-content li:hover ul  {
    z-index: 1;
    /*bottom: 100%;
    position: absolute;
    margin-top: 1px;*/
    overflow: auto;
    max-height: 200px;
    display: block;
    opacity: 1;
    visibility: visible;
}

/*******************WEATHER INFO DIV*******************************************/
#center-wrapper{
    width: 100%;
    /*margin: 0px, auto;*/
}
/*#weather-div{*/
    /*font-;*/
    /*float: left;*/
    /*width: 10%;*/
}
#marker-div {
    text-align: center;
    display: inline-block;
    background-color: white;
    width:  10%;
    height:100%;
}
#map-div{
    float: right;
    width:  100%;
}

#marker-div ul li{
    text-align: center;
    list-style-type: none;

}
/*************************FIND MY LOCATION BUTTON**********************/
#location-button {
    padding: 6px;
    display: inline-block;
    /*box-sizing: border-box;*/
    border-radius: 2px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    path: 170px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 2.5px;
    vertical-align: middle;
}

#location-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#location-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -10px;
    transition: 0.5s;
}

#location-button:hover span {
    padding-right: 16px;
}

#location-button:hover span:after {
    opacity: 1;
    right: 0;
}
#location-button img{
    width: 23px;
    height: 25px;
    vertical-align: middle;
}

/*************************EUCLIDIAN DISTANCE BUTTON**********************/

#eloc-button {
    padding: 6px;
    display: inline-block;
    /*box-sizing: border-box;*/
    border-radius: 2px;
    background-color: #f08d0d;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    path: 170px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 2.5px;
    vertical-align: middle;
}

#eloc-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#eloc-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -10px;
    transition: 0.5s;
}

#eloc-button:hover span {
    padding-right: 16px;
}

#eloc-button:hover span:after {
    opacity: 1;
    right: 0;
}
#eloc-button img{
    width: 23px;
    height: 25px;
    vertical-align: middle;
}

/****************************** WEATHER SIDE **************************************/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav p {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

/****************************** GOOGLECHARTS BOTTOM **************************************/

.bottomNav {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    bottom: 0;
    background-color: #111;
    opacity: 0.8;
    overflow-x: hidden;
    transition: 0.5s;
}

.bottomNav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}