/**********************BODY*****************************/
html{
    background-size: cover;
    background-color: grey;
}
body{
    margin:0;
    min-height: 100%;
    max-width: 100%;
    margin: 5px, 5px;
}

/******************NAVIGATION BAR***********************/
nav{
    height: 40px;
    display: block;
    background-color: #dddddd;
}
nav ul{
    background-color: #dddddd;
    overflow: hidden;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li{
    font-size: 1em;
    display: inline;
    line-height: 20px;
    height: 30px;
}
nav ul li a{
    text-align: center;
    text-decoration: none;
    display: block;
    padding: 14px 16px;
}

.nav-left{
    float: left;
}
.nav-right{
    float: right;
}
/*****************************GOOGLE MAP***********************/
#map{
    display: block;
    height: 400px;
    width: 100%;
}
