/**********************BODY*****************************/
html{
    background-size: cover;
    background-color: white;
}
body{
    min-height: 100%;
    min-width: 100%;
    margin: 0px, 0px;
}
h1{
    font-size: 1em;
}

/******************NAVIGATION BAR***********************/
nav ul li{
    display: inline;
}
.nav-left{
    float: left;
}
.nav-right{
    float: right;
}
/*********************************GOOGLE MAP***********************/
#map{
    height: 400px;
    width: 800px;
}
