html, body {
    min-height: 100%;
    background-size: cover;
}

header {
    border-radius: 50px;
    border-style: solid;
    border-width: 12px;
    border-color: rgba(84, 153, 199, 0.3);
    color:#2E3632;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 80px;
    font-family: 'Fredericka the Great', serif;
    text-align: center;
    width: 70%;
    padding: 30px;
}

p {
    color: black;
    font-size: 13px;
    font-family: 'Noto Serif', serif;
    text-align: center;
    width: 100%;
}

.map-item {
    border-radius: 50px;
    background-color: white;
    width:46%;
    min-width:20%;
    height: 200px;
    margin: 10px;
    padding: 1%;
    float:left;
}


#map { height: 100%; }

