<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Dublin Bikes</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}">
    <!--<link rel= "stylesheet" type= "text/css" href= "/static/stylesheet.css">-->
    <script type= "text/javascript" src="/static/DBmaps_tests.js"></script>
</head>


<body>
    <p>Hello</p>
    <div id="Gmap" class="container-fluid">
    </div>
    <div class="container-fluid">
        <h1>Project Dublin Bikes</h1>
        <!--<button id="show-listings"> Show Listings</button>
        <button id="hide-listings">Hide Listings</button>-->
    </div>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCK2dld8TVzjVCQeM2TPADkVdUr7fiA6KI&v=3&callback=myMap"></script>
</body>
</html>
