<!DOCTYPE html>
<html lang="en">
<head>
    <title>Project Dublin Bikes</title>
    <script type="text/javascript" src="{{ url_for('static',filename='javascript/jquery-3.2.0.min.js') }}"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <script type="text/javascript" src="{{ url_for('static',filename='javascript/DBmaps_test.js') }}"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='javascript/charts.js') }}"></script>
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
</head>
<body>


<nav>
    <ul id="nav">
        <li class="nav-left"><a href="/"><img src="/static/images/title.png"></a></li>
        <li class="nav-right">
            <button style="vertical-align:middle" id="eloc-button">
                <img class="marker" src="/static/images/closestLocation.png">
                <span>Find Closest Stations</span></button>
        </li>
        <li class="nav-right">
            <button style="vertical-align:middle" id="location-button">
                <img class="marker" src="/static/images/current.png">
                <span>Find My location</span></button>
        </li>
        <li class="nav-right">
            <div class="dropdown">
                <input id="search-box" onkeyup="searchFunction()" type="text" name="search" placeholder="Search...">
                <div class="dropdown-content">
                    <ul id="dropdown-list">
                        {% for row in data %}
                            <li><a onclick='zoomfocus("{{ row.address }}")'>{{ row.address }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </li>

        <li class="nav-right"><button style="vertical-align:middle" id="show-listings"> Show </button></li>
        <li class="nav-right"><button style="vertical-align:middle" id="hide-listings"> Hide </button></li>
    </ul>
</nav>

<div class="center-wrapper">


    <div id="weather-div" class="sidenav" onclick="closeNav()" onload="getIcon('{{ data3 }}')">
    <p>Temp: {{ data3[1] }}º</p>
    <p>Wind Speed: {{ data3[2] }}km/h</p>
    <p>Status: {{ data3[0] }}</p>
</div>

<div id="main">
    <span id= weatherInfo style="font-size:15px;cursor:pointer" onclick="openNav()"><img src=/static/images/weather.png></span>
    <div id="map-div"></div>
    <div id="legend"><h3>Availability</h3></div>
</div>
</div>

<div id="googleChartBottom" class="bottomNav">
    <div id="chart-wrapper">
        <div id="chart-nav-div">


            <ul id="chart-dropdown-content">
                 <li style="float: right; background-color: #111" ><a href="javascript:void(0)" class="closebtn" onclick="closeNav2()">&times;</a></li>
                <li>
                    View By Day
                    <ul>
                        <li onclick="googleChartsDaily(2)">Monday</li>
                        <li onclick="googleChartsDaily(3)">Tuesday</li>
                        <li onclick="googleChartsDaily(4)">Wednesday</li>
                        <li onclick="googleChartsDaily(5)">Thursday</li>
                        <li onclick="googleChartsDaily(6)">Friday</li>
                        <li onclick="googleChartsDaily(7)">Saturday</li>
                        <li onclick="googleChartsDaily(1)">Sunday</li>
                    </ul>
                </li>
                <li onclick="googleChartsToday()">View Today</li>
                <li onclick="googleChartsWeekly()">View Weekly</li>
            </ul>
        </div>
        <div id="chart-div1"></div>
        <div id="chart-div2"></div>
    </div>
</div>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCK2dld8TVzjVCQeM2TPADkVdUr7fiA6KI&v=3&callback=myMap">
</script>
</body>
</html>
